@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: #333333;
  --color-code-green: #00FF00;
  --color-code-blue: #00A1D6;
  --color-medium-gray: #666666;
  --color-light-gray: #CCCCCC;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #000000;
  --foreground: #FFFFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
}
